<!DOCTYPE html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>
    
    <div class="display-children-grade">
   

    <h3>Students in Grade <%=@grade.grade%></h3><br>
        
            <% @children.each do |child|%>
            <a class="child-list" href="/children/<%=child.id%>"><%= child.name%></a>
                <%child.devices.each do |device|%>
                <li><%=device.device_type%></li>  
                <%end%>
            <%end%>
         
    </div> <!--end display-children-grade -->

     <div class="action-buttons">
        <a href="/users/<%=@child.user_id%>">Return to your profile page</a>
        <a href='/grades'>View by Grade</a>
        
    </div>
</body>

</html>