<!DOCTYPE html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>



  <form action="/children/<%= @child.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    
    <label>Edit your Child's Name:</label> <br><br>
      <input type="text" name="child[name]" value="<%= @child.name %>"><br>

<h3>Update your child's devices</h3>
<p>(Select an existing device or create a new one below.)</p>

      <% @devices.each do |device| %>
      <input type="checkbox" name="child[device_ids][]" id="<%=device.id%>" value="<%=device.id%>" <%='checked' if @child.devices.include?(device) %>>
      <%= device.device_type %><br>
      <% end %><br>

      <label for="device_type">New Device Name: </label><br>
        <input type="text" name="device[device_type]" id="device_type"><br><br>

<h3>Update your child's rules</h3>

      <% @rules.each do |rule| %>
      <input type="checkbox" name="child[rule_ids][]" id="<%=rule.id%>" value="<%=rule.id%>" <%='checked' if @child.rules.include?(rule) %>>
      <%= rule.rule_name %><br>
      <% end %><br>

        <input type="submit" value="Update Child">
 
    </form> 
</body>
</html>