<!DOCTYPE html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>
    <form action="/children" method="POST">
        <h3>Add your child:</h3>
 
            <label for="name">Name:</label>
                <input type="text" name="child[name]"> <br> <br>
            
            <label for="grade">Grade (choose one):</label> <br>
                <% @grades.each do |grade| %>
                    <input type="checkbox" name="child[grade_id]" id="grade_<%=grade.id%>" value="<%=grade.id%>">
                    <%=grade.grade%>
                <% end %>  <br>  <br>
           
            <label for="device">Select all your child's devices: (If you don't see it, add a new one below.)</label> <br>
                <% @devices.each do |device| %>
                    <input type="checkbox" name="child[device_ids][]" id="<%=device.id%>" value="<%=device.id%>">
                    <%=device.device_type%>
                <% end %>  <br>

        <h4>Add a New Device:</h4>
            <label for="device_type">Device Name:</label>
            <input type="text" name="device[device_type]"> <br> <br>
            <input type="submit" value="Add Child">
    </form>
</body>
</html>        