<!DOCTYPE html>

<head>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./public/stylesheets/main.css">
</head>

<body>
 
    <section class="profile-wrapper">
        <div class="profile-info">
  
            <!-- Child's name -->
            <h2><%=@child.name%></h2><br>
            <h3>Grade: <%=@child.grade.grade%></h3><br> 
            
            <!-- Child's devices -->
            <h3><%=@child.name%>'s devices:</h3>
            <!--show child's devices -->
                <%@child.devices.each do |device|%><br>
                <h3><%=device.device_type %></h3>
                <%end%><br><br>
          </div> <!-- end profile-info -->
        
        
        <div class="action-buttons">
            <!-- EDIT CHILD only if child belongs to current_user-->
            <% if @child.user_id == session[:user_id]%>
            <a href="/children/<%=@child.id%>/edit">Edit</a><br>

            <!-- DELETE CHILD only if child belongs to current_user-->
            <form method="POST" action="children/<%=@child.id%>">
            <input type="hidden" name="_method" id="hidden" value="DELETE">
            <input type="submit" value="Delete Child">
            </form> 
            <% end %>

            <!-- NAVIGATION for all users -->
            <a href="/users/<%=current_user.id%>/profile">Return to your profile page</a>
            <a href='/grades'>View by Grade</a>
        </div> <!-- end action-buttons -->
    </section> <!-- end profile-wrapper -->

</body>
<html>

