<table>
  <tr>
    <th>@child.name</th>
    <th>@child.device.device_type</th>
  </tr>
  <tr>
    <td><%= @device.limit %></td>
    <td><%= @device.can_text %></td>
    <td><%= @device.soc_media %></td>
    <td><%= @device.watch_yt %></td>
    <td><%= @device.play_games %></td>
    <td><%= @device.can_chat %></td>
    
  </tr>
<table>
